.table th {
   color: #d9586b;
}
.imgCart{
   width: 4rem;
   height: 4rem;
}

td {
   font-size: 1.2rem;
   font-weight: bold;
}

.deleteItem{
   color:rgb(226, 135, 148);
   width: 2rem;
   height:2rem;
 }
 .deleteItem:hover {
   color:rgba(0, 0, 0, 0.527);
   background-color: lightpink;
   border-radius: 25%;
 }