 li{
   list-style: none;
 }
 
 .eliminarItem{
  color:rgb(226, 135, 148);
  width: 2rem;
  height:2rem;
}
.eliminarItem:hover {
  color:rgba(0, 0, 0, 0.527);
  background-color: lightpink;
  border-radius: 25%;
}

.enlaceContinuar{
 font-size: 1.5rem;
  font-weight: bold;
  color:rgb(238, 113, 132);

  padding: 0 10px
}

.enlaceContinuar:hover{
  color:black;
  background-color: lightpink;
  border-radius: 30px;
}

.button-vaciar {
  width: auto;
  height: 2rem;
  background-color: lightpink;
  border-radius: 10px;
  font-weight: bold;
  
}
.button-vaciar:hover{
  background-color: black;
  color:lightpink;
}

