.form {
    margin:auto;
    margin-top:2rem;
    padding:0 3rem;
    text-align: right;
    border: solid lightpink;
    width: 50%;
}

input{
  margin:0.5rem;
}

.formIncomplete{
  color:red;
  font-weight: bold;
  
}

.buttonForm{
  text-align: center;
}

.orderSuccess {
  margin-top: 1rem;
}