.form {
    margin-top:2rem;
}

/* .buttonForm {
    width: auto;
  height: 2rem;
  background-color: lightpink;
  border-radius: 10px;
  font-weight: bold;
  
}

.buttonForm:hover {
  background-color: black;
  color:lightpink;
} */

.formIncomplete{
  color:red;
}

