.imgDetail {
  width: 15rem;
  height: 18rem;
  border-radius: 3rem;
}

.divDetail {
  display: flex;
  justify-content: center;
  border: lightpink solid;
  padding:2rem;
  
}

.descriptionItem{
  margin: 2rem;
}