

.continueLink{
 font-size: 1.5rem;
  font-weight: bold;
  color:rgb(238, 113, 132);

  padding: 0 10px
}

.continueLink:hover{
  color:black;
  background-color: lightpink;
  border-radius: 30px;
}

